Django==4.2
django-cors-headers==3.14.0
django-environ==0.10.0
django-extensions==3.2.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
psycopg2-binary==2.9.7

# Dev Requirements
autoflake==2.1.1
isort==5.12.0
black==23.3.0
pre-commit==3.2.2
